<div class="alert-container">
    <h2>All Notifications</h2>
    <div *ngIf="alerts.length > 0; else noNotifications">
      <ul>
        <li *ngFor="let alerts of alerts">
          <p class="alert-message">{{ alerts.message }}</p>
          <span>{{ alerts.timestamp }}</span>
        </li>
      </ul>
    </div>
    <ng-template #noNotifications>

    </ng-template>
  </div>
  
 <!-- <li>
            <p>New dashboard features will be available from November 12th. Check out the updates!</p>
            <span>Nov 04, 2024 | 03:45:00 PM</span>
          </li>
          <li>
            <p>Your password must now contain at least one special character. Please update your password by November 15th.</p>
            <span>Nov <li>
            <p>Scheduled system maintenance on November 10th from 2:00 AM to 5:00 AM.</p>
            <span>Nov 05, 2024 | 09:26:08 AM</span>
          </li> 02, 2024 | 12:30:00 PM</span>
          </li>
          <li>
            <p>Our office will be closed for Thanksgiving on November 23rd. Enjoy the holiday!</p>
            <span>Oct 30, 2024 | 08:00:00 AM</span>
          </li>
          <li>
            <p>Annual performance reviews are due by November 30th. Please complete your self-assessment.</p>
            <span>Oct 25, 2024 | 10:15:00 AM</span>
          </li> -->